@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  @apply w-full 
  bg-white
  border border-gray-300
  rounded-xl
  px-4 py-3
  text-black
  placeholder-gray-400
  transition-all
  focus:outline-none
  focus:border-[#007E5B]
  focus:ring-2 focus:ring-[#007E5B]/30
  hover:border-gray-400;
}
.btn-primary { @apply flex items-center gap-2 bg-[#007E5B] text-white px-6 py-3 rounded-lg hover:opacity-90 cursor-pointer; }
.btn-secondary { @apply flex items-center gap-2 border px-6 py-3 rounded-lg text-black/80 hover:bg-[#007E5B] hover:text-white cursor-pointer; }

@keyframes slide-down {
    0% { transform: translate(-50%, -100%); opacity: 0; }
    100% { transform: translate(-50%, 0); opacity: 1; }
}

.animate-slide-down {
    animation: slide-down 0.4s ease-out forwards;
}